body {
    font-family: Arial, sans-serif;
    background-color: #353535;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.timetable {
    max-width: 1000px;
    margin: auto;
    background: rgb(134, 134, 134);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: #b0adb1;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.cell {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #f0f0f0;
    background: #cccccc;
}

.time {
    font-weight: bold;
    background: #b0adb1;
    color: white;
}

.day {
    font-weight: bold;
    background: #343a40;
    color: white;
}

.mest {
    background-color: #a2adbb;
}
.fr {
    background-color: #a2adbb;
}
.mt {
    background-color: #a2adbb;
}

.td {
    background-color: #7b899b;
}

.cour {
    background-color: #a2adbb;
}

.tp {
    background-color: #415268;
}
